  <head>
    <title>Audits</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'bootstrap', 'application', 'neon-core', 
		'neon-theme', 'neon-forms', 'white', 'datatables', 'select2', 
		'select2-bootstrap', 'entypo', 
		media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'jquery-1.11.3.min'%>
    <%= javascript_include_tag 'application', 'bootstrap', 'neon-custom', 'select2.min',
		'datatables', 'icheck' %>
  </head>
