	<div class="row">
		<div class="col-sm-11">
			<h1 class="page-title">Edición de Auditor</h1>
		</div>
		<div class="col-sm-1">
			<%= link_to '<i class="entypo-back"></i>Atras'.html_safe, auditors_path, class: 'btn btn-blue btn-icon' %>
		</div>
	</div>





<%= render 'form', auditor: @auditor %>

<%= link_to 'Show', @auditor %> |
<%= link_to 'Back', auditors_path %>
