<div class="row">
	<div class="col-sm-3">
		<h1 class="page-title">Nuevo Auditor</h1>
	</div>
	<div class="col-sm-4">
		<%= link_to '<i class="entypo-back"></i>Atras'.html_safe, auditors_path, class: 'btn btn-blue btn-icon' %>
	</div>
</div>



<%= render 'form', auditor: @auditor %>

