<!DOCTYPE html>
<html>
  <%= render 'partials/header'%>

  
  <body>
		<div class="page-container">
	
	<%= render 'partials/sidebar'%>
	<div class="main-content">
				
		<h1 class="main-title">Sistema de Auditorias de Calidad</h1>
		<hr />									
		
		<%= yield %>
		
		<footer class="main">
			
			&copy; 2018 <strong>izzi</strong> <a href="http://izzi.mx" target="_blank">izzi telecom</a>
		
		</footer>
	</div>


</div>

</body>
</html>
